<section id="sectionPortfolio">

    <div class="container">

        <div class="sectionTitle">
            <h1>My Connections</h1>
        </div>

        <div class="clients row">

            <div class="col-md-2 col-sm-6 col-xs-6 ">

            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 clients-box-top">
                <div class="clients-bg"></div>
                <a href="" class="none" target="_blank">
                    <i class="ion-social-github font-size-increase"></i>
                </a>
            </div>



            <div class="col-md-4 col-sm-12 col-xs-12 clients-box-top last-client">
                <div class="clients-bg"></div>
                <a href="https://www.linkedin.com/in/avinashkb/" class="none" target="_blank">
                    <i class="ion-social-linkedin-outline font-size-increase"></i>
                </a>
            </div>

        </div>

        <div class="clients row">
            <div class="col-md-4 col-sm-12 col-xs-12 ">

            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 ">
                <h2>Avinash</h2>
                <h4>121 Hillside Street</h4>
                <h4>857-300-8268</h4>
                <h4>kbavinash89@gmail.com</h4>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 ">

            </div>

        </div>


    </div>

</section>