<section id="sectionPortfolio">

    <div class="container">

        <div class="sectionTitle">
            <h1>My Past experience</h1>
            <span>Resume</span>
        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Income Research + Management</h3>
                <p>Jan 2017 - Jun 2017</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Software Engineer Co-Op</h3>
                <p>Designed and Developed a new Portfolio Web Application Prototype for the client to retrieve the latest data
                    into the different grids instead of static Excel using WebApi2, Entity Framework and Angular2</p>
                <p>Implemented an AdTempus Web Application to retrieve the details of the failed and running jobs using RESTful web services.</p>
                <p>Developed a custom Excel Plug-In to retrieve the list of Portfolios and holdings based on the specific
                    dates given by user using Excel VSTO Add-In and WebApi2</p>
                <p>Migrated all the test cases from Excel to Visual Studio Team Services cloud</p>

            </div>

        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Igear Innovations</h3>
                <p>Jun 2014 - Jun 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Software Engineer </h3>
                <p> Designed and Implemented the Product Details page for an e-Commerce web application using Java, HTML and CSS</p>
                <p> Implemented search functionality for products in Java </p>
                <p> Involved in the requirements gathering, analysis, design and development of an e-Commerce application</p>
            </div>

        </div>


        <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>L&T Infotech</h3>
                <p>Feb 2012 - May 2014</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Software Engineer</h3>
                <p>Designed and implemented new screens for Ingram Micro e-Commerce web application using HTML, CSS and Java</p>
                <p>Implemented Tank Lineup functionality where the user can search for tank availability in a plant and book it for an academic year using Java, MVC and javascript</p>
                <p>Implemented a breadcrumb part in Web Application in Java</p>
                <p>Involved in full stack web application development for Refinery module using MVC architecture</p>
            </div>
        </div>

    </div>

</section>
