<section id="sectionPortfolio">
    <div class="container">

        <div class="sectionTitle">
            <h1>Academic Projects</h1>
        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Job Portal</h3>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Designed and developed a Web Application Job Portal </p>
                <p>Used technology stack such as Spring MVC, Hibernate and Jquery</p>
            </div>

        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>NGO Hub</h3>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Northeastern University</h3>
                <p> Developed responsive web application prototype which allows all the NGOs to interact through a common platform
                    and also help individuals seeking for help </p>
            </div>

        </div>


        <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Friends Connectivity Network</h3>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed a social media site for connecting friends
                </p>
                <p> Enhanced the reich features of the website using HTML 5, CSS , JavaScript, JQuery and AJAX.
                </p>
            </div>
        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Messenger Web Service</h3>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>IR+M</h3>
                <p>Developed a Messenger Web Services using Restful Services
                </p>
                <p> Implemented the project using JAX-RS
                </p>
            </div>

        </div>



    </div>


</section>
